---
layout: default
---

<section id="contact_section" class="block-element">

	<form>
	
		<h1>Contact Me!</h1>
	
		<label for="name">Name</label><br>
		<input id="name" name="name" type="text" placeholder="Your name..."><br>
		
		<label for="email">Email Address</label><br>
		<input id="email" name="email" type="email" placeholder="Your email..."><br>
		
		<label for="message">Message</label><br>
		<textarea id="message" name="message" placeholder="Your question..."></textarea><br>
		
		<input type="submit">
	</form>
</section>