<!doctype html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		<style>@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap')</style>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
		
		<nav class="navbar">
			{% for item in site.data.nav %}
				
			<a href="{{ item.link }}">{{ item.name }}</a>
				
			{% endfor %}
		</nav>
		
		
		<div id="main">
			{{content}}
		</div>
		
		<footer>
		
		</footer>
	</body>
<html>